.vol-container .card-bureau table.table-liste td:nth-child(13) {
    color: #dc3546;
}

.card-bureau {
    position: relative;
}

.awbs {
    bottom: 0;
    right: 0;
    width: 250px;
    background-color: #fff;
    
    .awbs-content {
        max-height: 50vh;
        overflow: auto;
    }
    
}