$lucid-assets: "../vendor/lucid/vendor/light/assets/";
$fa-font-path: "../medias/fontawesome/webfonts";
$flag-icon-css-path: '/flags';

@import '../vendor/Ry/Cardit/style.scss';
  
.fa {
	font-family: 'Facen';
	font-weight: 400;
}

body.full-screen {
	background: #32323A;
	height: 100vh; 
	display: flex; 
	flex-flow: column;
}

$yellow : #ffdf7c;
$aubergine: #9c5374;
$orange: #f54336;
$violet: #9972b5;
$turquoise : #1fb5ac;
$blue: #337ab7;
$beige: #FCB322;
$grey: #777777;
$grass: #d5f6b4;
$stone: #e6eaec;
$rose: #e36881;

/* Bootstrap overrides */
$success: #89cc46;
$body-bg: #f4f7f6;
$z-custom: 1031;
$theme-colors: (
    "aubergine": $aubergine,
	"orange": $orange,
    "violet": $violet,
	"turquoise": $turquoise,
    "blue": $blue,
	"yellow": $yellow,
	"beige": $beige,
	"grey": $grey,
	"grass": $grass,
	"stone": $stone,
	"rose": $rose
);

/*manager lucid customization*/
.card-header.login-header {
	background: #aec785;
	text-align: center;
	color: #fff;
	border-bottom: 10px solid #a0b87e
}

.card-header.login-header h2 {
	font-size: 16px;
}

$max-menu-level: 5;

//icons
@import "node_modules/flag-icon-css/sass/flag-icon";
@import "../medias/fontawesome/scss/fontawesome.scss";
@import "../medias/fontawesome/scss/solid.scss";
@import "../medias/fontawesome/scss/regular.scss";
@import "../medias/fontawesome/scss/brands.scss";

//lucid
@import '../vendor/lucid/scss/style.scss';
@import '../vendor/lucid/vendor/light/assets/scss/color_skins.scss';

//app
@import "../vendor/Ry/Core/Core.scss";

@import "../vendor/Ry/Profile/Editor";
@import "../vendor/Ry/Categories/Categorie.scss";
@import "../vendor/bs/css/bootstrap-datepicker.css";

@each $size, $length in $spacers {
	.custom-control-label.custom-control-mt-#{$size} {
		&::before {
			margin-top: $length;
		}
		&::after {
			margin-top: $length;
		}
	}
}

.top-container {
	@include media-breakpoint-up('md', $grid-breakpoints) {
		margin-top: 62px;
	}
	@include media-breakpoint-down('md', $grid-breakpoints) {
		margin-top: 42px;
	}
}

.btn-circle {
    border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  
  i {
      font-size: 10px;
      display: block;
  }
}

.btn-orange {
	color: $white !important;
}

.fa-lock.text-orange {
	font-size: 66%;
}

.table.table-separated {
	border-collapse: separate;
	border-spacing: 10px;
	
	td, th {
		padding: 0;
	}
}

.input-group-text {
	line-height: 1.2;
}

.navbar-fixed-top {
	.navbar-brand {
		img {
			object-fit: cover;
		}
	}
}

/*anti bootstrap customizations*/
.card-header
{
	background: #e6eaec;
	padding: 0.5rem 1.25rem;
	border-bottom: 1px solid #d8d8d8;
	color: #5a5a5a;
	padding-left: 24px;
}

.dropdown.bootstrap-select.form-control {
	border: 1px solid #dee2e6;
	
	button.btn.dropdown-toggle.btn-light {
		border: none;
		background: linear-gradient(-90deg, $orange 44px, transparent 1px, transparent 100%);

		&::after {
			color: #fff;
			margin-right: 5px;
		}

		&:hover {
			background: linear-gradient(-90deg, $orange 44px, transparent 1px, transparent 100%);
		}
	}
}

.custom-switch {
	padding-left: 4.25rem;
	min-height: calc(2rem + 2px);

	.custom-control-label {
		font-size: 12px;
		line-height: 2rem;

		&::after {
			height: calc(1.6rem - 2px);
			border-radius: 0.2rem;
			width: calc(2rem - 2px);
			top: calc(0.25rem + 1px);
			left: calc(-4.25rem + 1px);
			background: #fff;
		}

		&::before {
			height: 1.6rem;
			content: "ON |OFF";
			width: 3.75rem;
			left: -4.25rem;
			border-radius: 0.3rem;
			line-height: 1.6rem;
			padding-left: 6px;
			background: #d9534f;
			color: #fff;
		}
	}

	.custom-control-input:checked ~ .custom-control-label::before {
		border-color: #5cb85c;
		background-color: #5cb85c;
	}
	
	.custom-control-input:checked ~ .custom-control-label::after {
		left: calc(-3.25rem + 1px);
	}
}

.img-thumbnail {
	padding: 0 !important;
	background: #fff;
	border: 8px solid #f1f2f7;
}

.setup-tabs {
	.nav-item {
		a.nav-link {
			padding: 16px 10px;
			border: none;
			font-weight: lighter;
			border-radius: 0.25rem !important;

			&.active {
				background: $orange;
				color: white;
			}
		}
	}
}

.table-centerall {
	td, th {
		text-align: center;
	}
}

.vol-container {
    .vol-ico {
        position: absolute;
        width: 111px;
        height: 111px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        left: calc(50% - (111px / 2));
        top: calc(50% - (140px / 2));
        z-index: 3;
        padding: 10px;

        span {
            display: block;
            width: 100%;
            height: 100%;
            background-color: #f4f7f6;
            text-align: center;
            border-radius: 50%;
            padding: 20px 5px 20px 5px;

            img {

            }
        }
    }

    .h100 {
        height: calc(100% - 36px);

        .body {
            height: 100%;

            .card-bureau {
                height: 100%;
            }
        }
    }

    .card .body {
        padding: 10px;
    }


    .card-bureau {
        border: 1px solid #e7e7e7;
        border-radius: 5px;
        padding: 17px 30px;
        margin-top: 10px;

        &.no-border {
            border: none;
        }

        &:first-child {
            margin-top: 0;
        }

        .title-vol {
            font-size: 16px;
            font-weight: bold;
            color: #000000;
            margin-bottom: 20px;

            span {
                color: #ffffff;
                display: inline-block;
                width: 25px;
                height: 25px;
                border-radius: 3px;
                text-align: center;
                line-height: 25px;
                background-color: #f68c1f;
                margin-right: 10px;
                vertical-align: top;
            }

            i {
                color: #f68c1f;
                font-size: 12px;
                margin-left: 5px;
            }
        }

        .btn-vol {
            display: block;
            width: 290px;
            height: 70px;
            line-height: 60px;
            font-size: 30px;
            color: #ffffff;
            text-transform: uppercase;
            position: relative;
            background-color: #4a7cae;
            margin: 0 auto;

            i {
                position: absolute;
                right: -30px;
                color: #5ecfb5;
                top: calc(50% - 10px);
                font-size: 20px;
            }
        }

        .vol-info {
            color: #262626;
            display: block;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
            margin-top: 10px;
        }

        .input-container {
            position: relative;
            width: 290px;
            margin: 0 auto;
            line-height: 60px;
            text-transform: uppercase;

            input {
                height: 70px;
                text-align: center;
                font-size: 30px;
                color: #262626;
                font-weight: bold;
            }

            i {
                position: absolute;
                right: -30px;
                color: #5ecfb5;
                top: calc(50% - 10px);
                font-size: 20px;
            }
        }

        .form-group {
            label {
                width: calc(100% - 210px);
                margin-bottom: 0;

                i {
                    color: #f68c1f;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }

            input,
            select {
                width: 180px;
                margin: 0 10px;
                height: 40px;
                text-align: center;
            }


            i {
                color: #5ecfb5;
                font-size: 20px;
            }
        }

        .custom-select {
            background-image: url("/medias/images/select.png");
            background-size: 29px 38px;
            background-position: right center;
            background-color: #cceffe;
        }

        table {
            color: #000000;

            tr {
                th {
                    font-family: "Arial", Sans-Serif;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    vertical-align: middle;

                    i {
                        color: #f68c1f;
                        font-size: 12px;
                        margin-left: 5px;
                    }


                    &.thlast {
                        border-right: none;
                        border-top: none;
                        padding: 10px 5px;

                        i.icon-info {
                            color: #5ecfb5;
                            font-size: 14px;
                        }
                    }
                }

                td {
                    padding: 5px;
                    text-align: center;

                    &.bg-jaune {
                        background-color: #fff1b4;
                    }

                    &.no-border {
                        border: none;
                    }

                    .custom-select,
                    input {
                        height: 25px;
                        background-color: #cceffe;
                        border: none;
                        text-align: center;
                    }

                    .custom-select {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
            }


            &.newTable {
                thead {
                    tr:first-child th {
                        font-weight: normal;
                    }

                    tr {
                        th {
                            &:nth-child(1),
                            &:nth-child(2),
                            &:nth-child(3),
                            &:nth-child(5) {
                                width: 195px;
                            }

                            &:nth-child(6) {
                                width: 125px;
                            }
                        }
                    }
                }
            }

            &.table-liste {
                tr:nth-child(odd),
                tr:nth-child(even) {
                    background-color: transparent;
                }

                tr:nth-child(odd) td {
                    background-color: #fff8e8;
                }

                tr:nth-child(even) td {
                    background-color: #edefee;
                }

                th {
                    font-size: 14px;
                }

                td {
                    color: #4a7cad;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    padding: 10px;

                    &:nth-child(2) {
                        color: #dc3546;
                    }

                    &:nth-child(9),
                    &:nth-child(10),
                    &:nth-child(11),
                    &:nth-child(15) {
                        width: 110px;
                    }

                    &:nth-child(14) {
                        width: 100px;
                    }
                }

                .btn {
                    width: 100%;
                }
            }

        }
    }
}

table#recipientTable {

    tbody tr > td {
        border-bottom: none;
    }

    & > thead tr th {
        padding: 10px 0;
        border-bottom-width: 1px;
    }

    & > thead tr th:nth-child(1) {
        width: 90px !important;
    }


    tbody tr > td:nth-child(1) {
        width: 89px !important;
    }

    & > thead tr th:nth-child(2),
    tbody tr > td:nth-child(2) {
        width: 85px !important;
    }

    & > thead tr th:nth-child(3),
    tbody tr > td:nth-child(3) {
        min-width: 165px !important;
        width: auto !important;
    }

    & > thead tr th:nth-child(4),
    tbody tr > td:nth-child(4) {
        width: 56px !important;
    }

    & > thead tr th:nth-child(5),
    tbody tr > td:nth-child(5) {
        width: 68px !important;
    }

    & > thead tr th:nth-child(6),
    tbody tr > td:nth-child(6) {
        width: 115px !important;
    }

    & > thead tr th:nth-child(7),
    tbody tr > td:nth-child(7) {
        width: 82px !important;
    }

    & > thead tr th:nth-child(8),
    tbody tr > td:nth-child(8) {
        width: 125px !important;
    }

    & > thead tr th:nth-child(9),
    tbody tr > td:nth-child(9) {
        width: 105px !important;
    }

    & > thead tr th:nth-child(10),
    tbody tr > td:nth-child(10) {
        width: 130px !important;
    }

    & > thead tr th:nth-child(11),
    tbody tr > td:nth-child(11) {
        width: 98px !important;
    }

    & > thead tr th:nth-child(12),
    & > thead tr th:nth-child(13),
    & > thead tr th:nth-child(14),
    tbody tr > td:nth-child(12),
    tbody tr > td:nth-child(13),
    tbody tr > td:nth-child(14) {
        width: 110px !important;
    }

    td {
        border-top: 0;
        padding: 10px 0;

        .icon-info {
            color: #21c2b8;
        }

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
        }

        .btn {
            padding: 0
        }

        .btn-status {
            color: #ffffff;
            background-color: #9d9d9d;
            position: relative;
            width: 88px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            text-align: left;
            display: block;
            margin: 0 auto;
            padding: 0 22px 0 10px;

            .icon-info {
                position: absolute;
                line-height: 30px;
                right: 5px;
                color: #ffffff !important;
            }

            &.green {
                background-color: #91bf16;
            }

            &.orange {
                background-color: #ff7c07;
            }
        }

        .bandeau {
            background-color: #17a2b8;
            padding: 10px 15px;
            color: #ffffff;
            font-family: "Arial", Sans-Serif;
            font-size: 14px;
            position: relative;
            text-transform: none;

            .title-bandeau {
                position: absolute;
                left: 15px;
                width: auto;
            }

            .centerText {
                text-align: center;
                width: 100%;
            }
        }
    }

    tr.detail td {
        padding: 0;
    }


    tr.detail > td {
        padding: 0;
        border-bottom: 1px solid #dee2e6;
    }

    .recipientContainer {
        padding: 20px 0;
        background-color: #f5f6f6;

        .asideList {
            background-color: #17a2b8;
            width: 60px;
            height: 60px;
            display: block;
            border-radius: 50%;
            text-align: center;
            color: #ffffff;
            font-size: 18px;
            font-family: "Arial", Sans-Serif;
            font-weight: bold;
            line-height: 60px;
            position: relative;
            margin-right: 35px;

            &::before {
                content: "";
                width: 35px;
                height: 1px;
                background-color: #17a2b8;
                position: absolute;
                left: 100%;
                top: 30px;
            }

            &.asideList2 {
                margin-right: 0;

                &::before {
                    left: -35px;
                }
            }
        }

        .recipientList {
            width: 75px;
            height: 85px;
            background-color: #ffffff;
            border: 1px solid #9d9d9d;
            border-radius: 5px;
            display: block;
            position: relative;
            margin-right: 30px;
            color: #c0c3c5;
            font-size: 10px;
            text-transform: none;

            i {
                display: block;
                width: 100%;
                height: 55px;
                background-position: center 0;

                &.ico-reception {
                    background-image: url("/medias/images/ico-reception.png");
                }

                &.ico-entrepot {
                    background-image: url("/medias/images/ico-entrepot.png");
                }

                &.ico-depart {
                    background-image: url("/medias/images/ico-depart.png");
                }

                &.ico-arrive {
                    background-image: url("/medias/images/ico-arrive.png");
                }

                &.ico-livraison {
                    background-image: url("/medias/images/ico-livraison.png");
                }
            }

            &.red {
                color: #dc3545;

                i {
                    background-position: center -110px;
                }

            }

            &.green {
                color: #75bf42;

                i {
                    background-position: center -55px;
                }

            }

            &::after {
                content: "";
                background: url("/medias/images/sep-2.png");
                width: 19px;
                height: 7px;
                display: block;
                position: absolute;
                left: calc(100% + 6px);
                top: calc(50% - 3px);
            }

            &.last {
                margin-right: 35px;

                &::after {
                    display: none;
                }
            }

            span {
                padding: 5px 0;
            }
        }
    }

    .tableBottom {
        background-color: #ffffff;
        padding: 20px 0;
        overflow: hidden;

        .row {
            margin-right: 0;
            margin-left: 0;
        }

        .blockTemps {
            padding: 15px;
            border: 1px solid #c2c4c6;
            text-align: left;

            h3 {
                white-space: normal;
                font-size: 14px;
                color: #585e61;
                text-transform: none;
                font-weight: bold;
            }

            .skillContainer {
                padding: 10px 0;
                border-bottom: 1px solid #c2c4c6;
            }

            .info {
                margin: 0;
                padding: 10px 0;

                li {
                    list-style: none;
                    margin-bottom: 10px;
                    color: #7b7f81;
                    font-family: "Arial", Sans-Serif;
                    font-size: 14px;
                    text-transform: none;
                    line-height: normal;
                    font-weight: normal;

                    span {
                        display: block;
                        font-weight: bold;
                        color: #52585f;
                    }
                }
            }
        }

        .tableRecap {
            max-width: 845px;

            .fancy-checkbox {
                margin-right: 0;
                margin-bottom: 0;
            }

            .fancy-checkbox input[type=checkbox] + span:before {
                margin-right: 0;
                width: 15px;
                height: 15px;
            }

            .fancy-checkbox input[type=checkbox]:checked + span:before {
                line-height: 13px;
            }

            th {
                border-bottom-width: 1px;
                padding: 5px;
                text-transform: none;
                color: #495057;
                font-size: 12px;

                &.noBor {
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                }

                &.colorVert {
                    font-weight: bold;
                    font-size: 14px;
                    color: #91bf16;
                }

            }

            .thTop {
                color: #ffffff;
                background-color: #2eabbf;
                font-size: 11px;
            }

            .thModal {
                background-color: #ff694a;
                padding: 0;
                width: 20px;

                .btn {
                    width: 100%;
                    height: 50px;
                    background-color: #ff694a;
                    border: none;
                    color: #ffffff;
                    display: block;
                    border-radius: 0;
                    text-align: center;
                    padding: 0;
                }
            }

            .thLeft {
                th {
                    width: 45px !important;
                    min-width: 1px !important;
                    padding: 5px 0;
                    font-size: 8px;
                    color: #495057;
                }
            }

            td {
                border-top: 1px solid #dee2e6;

                .fancy-checkbox input[type=checkbox] + span:before {
                    border-radius: 50%;
                    margin-right: 0;
                    width: 15px;
                    height: 15px;
                    font-size: 12px;
                }

                span {
                    color: #75bf42;
                }

                &:nth-child(odd),
                &:nth-child(even) {
                    background-color: transparent;
                }

                &:first-child {
                    border-left: 1px solid #dee2e6;
                }

                &:last-child {
                    border-right: 1px solid #dee2e6;
                }

                &.noBg {
                    border-left: none;
                }

                .btn-orange {
                    width: 100%;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 14px;
                    text-align: center;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    background-color: #ff694a;
                }
            }
        }
    }

    .btnAccord {
        background-color: #17a2b8;
        color: #ffffff;
        height: 25px;
        line-height: 23px;
        width: 25px;
        text-align: center;
        margin-left: 10px;
    }
}
	