$lucid-assets: "../../vendor/lucid/vendor/light/assets/";
$fa-font-path: "../../medias/fontawesome/webfonts";
$flag-icon-css-path: '/flags';
  
.fa {
	font-family: 'Facen';
	font-weight: 400;
}

body.full-screen {
	background: #32323A;
	height: 100vh; 
	display: flex; 
	flex-flow: column;
}

$yellow : #ffdf7c;
$aubergine: #9c5374;
$orange: #fc8269;
$violet: #9972b5;
$turquoise : #1fb5ac;
$blue: #337ab7;
$beige: #FCB322;
$grey: #777777;
$grass: #d5f6b4;
$stone: #e6eaec;
$rose: #e36881;

/* Bootstrap overrides */
$primary: $turquoise;
$success: #89cc46;
$body-bg: #f4f7f6;
$z-custom: 1031;
$theme-colors: (
    "aubergine": $aubergine,
	"orange": $orange,
    "violet": $violet,
	"turquoise": $turquoise,
    "blue": $blue,
	"yellow": $yellow,
	"beige": $beige,
	"grey": $grey,
	"grass": $grass,
	"stone": $stone,
	"rose": $rose
);

/*manager lucid customization*/
.card-header.login-header {
	background: #aec785;
	text-align: center;
	color: #fff;
	border-bottom: 10px solid #a0b87e
}

.card-header.login-header h2 {
	font-size: 16px;
}

$max-menu-level: 5;

//icons
@import "node_modules/flag-icon-css/sass/flag-icon";
@import "../../medias/fontawesome/scss/fontawesome.scss";
@import "../../medias/fontawesome/scss/solid.scss";
@import "../../medias/fontawesome/scss/regular.scss";
@import "../../medias/fontawesome/scss/brands.scss";

//lucid
@import '../../vendor/lucid/scss/style.scss';
@import '../../vendor//lucid/vendor/light/assets/scss/color_skins.scss';

//app
@import "../../vendor/Ry/Core/Core.scss";

@import "../../vendor/Ry/Profile/Editor";
@import "../../vendor/Ry/Categories/Categorie.scss";
@import "../../vendor/bs/css/bootstrap-datepicker.css";

//cardit
@import '../../vendor/Ry/Cardit/style.scss';

@each $size, $length in $spacers {
	.custom-control-label.custom-control-mt-#{$size} {
		&::before {
			margin-top: $length;
		}
		&::after {
			margin-top: $length;
		}
	}
}

.top-container {
	@include media-breakpoint-up('md', $grid-breakpoints) {
		margin-top: 62px;
	}
	@include media-breakpoint-down('md', $grid-breakpoints) {
		margin-top: 42px;
	}
}

.btn-circle {
    border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  
  i {
      font-size: 10px;
      display: block;
  }
}

.btn-orange {
	color: $white !important;
}

.fa-lock.text-orange {
	font-size: 66%;
}

.table.table-separated {
	border-collapse: separate;
	border-spacing: 10px;
	
	td, th {
		padding: 0;
	}
}

.input-group-text {
	line-height: 1.2;
}

.navbar-fixed-top {
	.navbar-brand {
		img {
			object-fit: cover;
		}
	}
}

/*anti bootstrap customizations*/
.card-header
{
	background: #e6eaec;
	padding: 0.5rem 1.25rem;
	border-bottom: 1px solid #d8d8d8;
	color: #5a5a5a;
	padding-left: 24px;
}

.custom-switch {
	padding-left: 4.25rem;
	min-height: calc(2rem + 2px);

	.custom-control-label {
		font-size: 12px;
		line-height: 2rem;

		&::after {
			height: calc(1.6rem - 2px);
			border-radius: 0.2rem;
			width: calc(2rem - 2px);
			top: calc(0.25rem + 1px);
			left: calc(-4.25rem + 1px);
			background: #fff;
		}

		&::before {
			height: 1.6rem;
			content: "ON |OFF";
			width: 3.75rem;
			left: -4.25rem;
			border-radius: 0.3rem;
			line-height: 1.6rem;
			padding-left: 6px;
			background: #d9534f;
			color: #fff;
		}
	}

	.custom-control-input:checked ~ .custom-control-label::before {
		border-color: #5cb85c;
		background-color: #5cb85c;
	}
	
	.custom-control-input:checked ~ .custom-control-label::after {
		left: calc(-3.25rem + 1px);
	}
}

.img-thumbnail {
	padding: 0 !important;
	background: #fff;
	border: 8px solid #f1f2f7;
}

.setup-tabs {
	.nav-item {
		a.nav-link {
			padding: 16px 10px;
			border: none;
			font-weight: lighter;
			border-radius: 0.25rem !important;

			&.active {
				background: $orange;
				color: white;
			}
		}
	}
}

.table-centerall {
	td, th {
		text-align: center;
	}
}

.text-capitalize {
	.dropdown-toggle {
		text-transform: capitalize;
	}
}

.form-inline .bootstrap-select, .form-inline .bootstrap-select.form-control:not([class*="col-"]) {
	width: 100%;
}

.focus-outline-hidden {
	&:focus {
		outline : none !important;
	}
}

.error {
	border: 1px solid $danger !important;
}

.fa-caret-down {
	transition: .3s transform ease-in-out;
}
.collapsed {
	.fa-caret-down {
		transform: rotate(180deg);
	}
}
.btn.collapsed {
	background:$stone;
    border-color: $stone;
}

@media screen and (max-width: 1024px) {
	.navbar-fixed-top .navbar-right {
		width: calc(100% - 290px) !important;
	}
}
