@font-face {
    font-family: "leg2";
    src: url("./leg2.eot?1e899b85d2568e39dbfa34da0ca34234#iefix") format("embedded-opentype"),
url("./leg2.woff2?1e899b85d2568e39dbfa34da0ca34234") format("woff2"),
url("./leg2.woff?1e899b85d2568e39dbfa34da0ca34234") format("woff");
}

i[class^="l2-"]:before, i[class*=" l2-"]:before {
    font-family: leg2 !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.l2-arrival:before {
    content: "\f101";
}
.l2-departure:before {
    content: "\f102";
}
.l2-destination:before {
    content: "\f103";
}
.l2-receipt:before {
    content: "\f104";
}
.l2-resize:before {
    content: "\f105";
}
.l2-warehouse-gha:before {
    content: "\f106";
}
.l2-warehouse:before {
    content: "\f107";
}
