$ramification: #dee2e6;
.content{
  width: 100%;
  height: 450px;
}
.toolbar{
  margin: 2rem;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  flex-wrap: wrap;
}


.input-control{
    margin: 400px !important;
}


.excel{
  margin-top: 20px;
  margin-left: 90%;
  position: absolute;
  // margin-right: 30px;
}

.cn38-wrap {
  max-width: 910px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;

  h1,h2,h3,h4 {
    font-weight:bold;
    font-size: 13px;
  }
  table {
      margin:0px;
      width:100%;
      border-collapse: collapse;
      border-spacing: 0;
  }
  th {
      border-collapse: collapse;
      font-weight: normal;
      height: 15px;
      padding: 5px;
  }
  table tr>td { vertical-align: top;}

  .tableTop { padding-top: 30px;}
.tableTop tr:nth-child(2)>td{ height: 50px}
.tableFirst tr>td { height: 32px;}
.center { text-align: center;}
.tableCenter { 
  padding-top: 10px; 
  position: relative;

  .legend {
    position: absolute;
    rotate: 90;
    transform: rotate(-90deg);
    transform-origin: top left;
    left: -20px;
  }
}
.tableCenter table tr>td {
    vertical-align: middle;
}
.tableCenter table tr>td, .tableFirst table tr>td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
.height td {
    padding: 5px;
    height: 10px;
    border-collapse: collapse;
}
.width {
    width: 30%;
}
.kg:before {
    content: 'Kg'
}
.lastTable {
    margin-top: 15px;
    margin-bottom: 45px;
}
.lastTable table tr>td{
    border-collapse: collapse;
    width: 33.333%;
}
.border span{
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 1px #000 solid;
    width: 83%;
}
.no-border { border: none !important}
.no-border-left { border-left: none !important;}
.no-border-right { border-right: none !important;}
.no-border-top { border-top: none !important;}
.no-border-bottom { border-bottom: none !important;}

.tableCenter table tbody tr { min-height: 45px;}
}


table.table-liste {
    tr.bg1 td {
		background: #aa7d15 !important;
	}
	
	tr.bg2 td {
		background: #19a45f !important;
	}
    td.text-danger {
        color: #dc3546 !important;
    }
    td.text-danger:nth-child(8) {
        color: #dc3546;
    }
    td.text-success:nth-child(8) {
        color: #5cb85c;
    }
    td.text-danger:nth-child(9) {
        color: #dc3546;
    }
    td.text-success:nth-child(9) {
        color: #5cb85c;
    }
    .awb-line {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: -12px;
            border-top: 1px solid $ramification;
            top: 12px;
            height: 0;
            width: 10px;
            left: -10px;
        }
    }
    .awb-checkbox {
        position: relative;

        &::before, &::after {
            position: absolute;
            content: '';
            right: -12px;
        }

        &::before {
            border-top: 1px solid $ramification;
            top: 10px;
            height: 0;
            width: 10px;
            right: -14px;
        }

        &:not(.awb-checkbox-last-child)::after {
            border-left: 1px solid $ramification;
            height: calc(100% + 22px);
            width: 0px;
            top: 10px;
            right: -14px;
        }
    }
}





 

// style table
// tr:nth-child(even){
//   background-color: red;
// }
// }