.content{
  width: 100%;
  height: 450px;
}
.toolbar{
  margin: 2rem;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  flex-wrap: wrap;
}


// .form-control{
//   
// }
.col-md-3 .form-control{
  width: 300px !important;
}


.btn{
  background-color: blue;
  color: white;
}




 

// style table
// tr:nth-child(even){
//   background-color: red;
// }
// }