.content{
  width: 100%;
  height: 450px;
}
.toolbar{
  margin: 2rem;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  flex-wrap: wrap;
}


// .form-control{
//   
// }
.col-md-3 .form-control{
  width: 210px !important;
}
.col-md-4 .form-control{
  width: 90px !important;
}

.contents{
  width: 380px;
  margin-left: 20px;
}
.mrdloca{
  width: 200px;
  margin-left: 20px;
}

.excel{
  margin-top: 20px;
  margin-left: 90%;
  position: absolute;
  // margin-right: 30px;
}






 

// style table
// tr:nth-child(even){
//   background-color: red;
// }
// }